<app-header></app-header>
<div class="container">
  <form action="">

    <label for="fname">First Name</label>
    <input type="text" id="fname" name="firstname" placeholder="Your name..">

    <label for="lname">Last Name</label>
    <input type="text" id="lname" name="lastname" placeholder="Your last name..">

    <label for="Topic">Topic</label>
    <select id="Topic" name="Topic">
      <option value="Schemes">Schemes</option>
      <option value="Market Price">Market Price</option>
      <option value="Address">Address</option>
      <option value="Helplines">Helplines</option>
      <option value="Crops">Crops</option>
    </select>

    <label for="Details">Details</label>
    <textarea id="Details" name="Details" placeholder="Write something.." style="height:200px"></textarea>

    <input type="submit" value="Submit">

  </form>
</div>
<app-footer></app-footer>
