
  <main>
    <app-header></app-header>
    <body>
      <div class="container">
          <form [formGroup]="contactForm">
              <ul>
                  <li>
                      <label  id="fname" for="search"><span>Fullname<span class="container__required-star">*</span></span></label>
                      <input type="text" id="search" [formControl]="Fullname" name="Fullname">
                      <div class="container__invalid">
                        <span [hidden]="Fullname.valid || Fullname.untouched">
                          <span [hidden]="!Fullname.hasError('required')" class="container__required">This field is required</span>
                          <span [hidden]="!Fullname.hasError('minlength')" class="container__required">Minimum length should be 3</span>
                        </span>
                      </div>
                  </li>
                  <li>
                      <label for="topic"><span>Topic<span class="container__required-star">*</span></span></label>
                      <input type="text" [formControl]="Topic" id="topic" name="Topic">
                      <div class="container__invalid">
                        <span [hidden]="Topic.valid || Topic.untouched">
                          <span [hidden]="!Topic.hasError('required')" class="container__required">This field is required</span>
                          <span [hidden]="!Topic.hasError('minlength')" class="container__required">Minimum length should be 5</span>
                        </span>
                      </div>
                  </li>
                  <li>
                      <label for="details" ><span>Details<span class="container__required-star">*</span></span></label>
                      <textarea [formControl]="Details" name="Details" rows="4" id="details" cols="50"></textarea>
                      <div class="container__invalid">
                        <span [hidden]="Details.valid || Details.untouched">
                          <span [hidden]="!Details.hasError('required')" class="container__required">This field is required</span>
                          <span [hidden]="!Details.hasError('minlength')" class="container__required">Minimum length should be 15</span>
                        </span>
                      </div>
                  </li>
                  <li>
                      <button type="submit"  (click)=" addcontacUs()" [disabled]="contactForm.invalid">Submit</button>
                  </li>
              </ul>
          </form>
      </div>
  </body>
<app-footer></app-footer>
</main>
