<app-header></app-header>
<div class="container">
    <h2 class="conatiner__page-header">CONTACT US</h2>
    <form>
      <div class="form-group">
        <label>FULLNAME</label>
        <input type="text"  [(ngModel)]="Fullname" name="Fullname" class="form-control" required>
      </div>
      <div class="form-group">
        <label>TOPIC</label>
        <!-- <input type="text"  [(ngModel)]="Topic" name="Topic" class="form-control" required> -->
        <select class="form-select optionSector" id="topic" [(ngModel)]="Topic" name="Topic" aria-label="Default select example"  >
          <option class="dropdown-item" value="soil lab" style="color: black;">soil lab</option>
          <option class="dropdown-item" value="Mandi" style="color: black;">Mandi</option>
          <option class="dropdown-item" value="Crop" style="color: black;">Crop</option>
          <option class="dropdown-item" value="Helpline" style="color: black;">Helpline</option>
        </select>

      </div>
       <br><br>
       <div class="form-group">
        <label>DETAILS</label>
        <input type="text"  [(ngModel)]="Details" name="Details" class="form-control" required>
      </div>


      <a type="submit" class="btn btn-primary" value="Add"  (click)="addcontacUs()" href="contactUs">SUBMIT</a>

     </form>
  </div>

  <hr>
<app-footer></app-footer>
