<div class="container">
  <h2 class="page-header">Login Page</h2>
  <form (submit)="addlogin()">
     <div class="form-group">
      <label>FullName</label>
      <input type="text"  [(ngModel)]="FullName" name="FullName" class="form-control" required>
    </div>
    <div class="form-group">
      <label>phoneNumber</label>
      <input type="text" [(ngModel)]="phoneNumber" name="phoneNumber" class="form-control" required>
      <br><br>
<label for="EnterOTP"><h4>Enter OTP:</h4></label>
<br>
  <input formControlName="EnterOTP" id="EnterOTP" />

<button style="margin-left: 5px;" class="btn btn-danger" type="submit" >Verify</button><br><br>
    </div>

    <button type="submit" class="btn btn-primary" ><h4>login</h4></button>

  </form>
</div>
<hr>

<div class="container">
  <div *ngFor="let login of login">
    <div class="col-md-3">
      {{login.FullName}}
    </div>
    <div class="col-md-3">
      {{login.phoneNumber}}

    </div>
    <div class="col-md-3">
      <input type="button">
    </div>
  </div>


</div>
