<!--
<div>
    <nav class="navbar navbar-expand-lg navbar-light">
<img src="../../../assets/images/logo.jpg" class="logo" id="logo" alt="logo">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="home-page">Home </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="visuals">Visualization</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="enquiry">enquiry</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="post-address">Important Address</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="addHelplines">Helplines</a>
        </li>
      </ul>

    </div>


    <div class="header-right">

      <button class="btn" id="admin"><a href="home">User</a></button>


    </div>


  </nav>
</div> -->

<!-- code again -->

<div>
  <nav class="navbar navbar-expand-lg navbar-light " style="background-color: black;">
<img src="../../../assets/images/logo.jpg" class="logo" id="logo" alt="logo">
  <div class="collapse navbar-collapse  nav-menu" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="home-page">Home </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="visuals">Visualization</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="enquiry">enquiry</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="post-address">Important Address</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="addHelplines">Helplines</a>
      </li>

      <!-- <li class="nav-item">
          <a class="nav-link" href="#">crops</a>
        </li>-->
    </ul>

   </div>


  <div class="header-right">

    <button class="btn" id="admin"><a href="home">User</a></button>


  </div>


</nav>
</div>
