<body class="footer" id="footer">
  <div class="footer__listitem">
    <h5 class="footer__listitem--heading" data-testid="getintouch">
      Get In touch
    </h5>
    <p class="footer__listitem--heading" data-testid="farmersfriend">
      Farmers Friend 👩‍👩‍👧
    </p>
    <p class="footer__listitem--heading" data-testid="Kanpur">
      Kanpur, Uttar Pradesh
    </p>
    <p class="footer__listitem--heading" data-testid="phone">
      8957907453
    </p>
    <p class="footer__listitem--heading" data-testid="email" id="mail">
      richapandey0297@gmail.com
    </p>
  </div>
</body>
