
<div class="footer">

    <div class="inner-footer">

  <!--  for company name and description
      <div class="footer-items">
        <h3>Farmer's Friend</h3>
        <p>A web based approch to solve problem of farmers.</p>
      </div>

  for quick links  -->
      <div class="footer-items">
        <h3>Quick Links</h3>
        <div class="border1"></div> <!--for the underline -->
          <ul>
            <a href="#"><li>Home</li></a>
            <a href="#"><li>Contact</li></a>
            <a href="#"><li>About</li></a>
          </ul>
      </div>

  <!--  for some other links -->


  <!--  for contact us info -->
      <div class="footer-items">
        <h3>Contact us</h3>
        <div class="border1"></div>
          <ul>
            <li><i class="fa fa-map-marker" aria-hidden="true"></i>XYZ, abc</li>
            <li><i class="fa fa-phone" aria-hidden="true"></i>123456789</li>
            <li><i class="fa fa-envelope" aria-hidden="true"></i>farmerfriend@gmail.com</li>
          </ul>

  <!--   for social links -->
          <div class="social-media">
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-facebook"></i></a>
            <a href="#"><i class="fab fa-google-plus-square"></i></a>
          </div>
      </div>
    </div>

  <!--   Footer Bottom start  -->
    <div class="footer-bottom">
      Copyright &copy; Farmer's Friend.
    </div>
  </div>

  <!--   Footer Bottom end -->

  <!--   FOOTER END -->
