<app-header></app-header>
<div class="container">
  <h2 class="page-header">Signup</h2>
  <form (submit)="addregister()">
    <div class="form-group">
      <label>FullName</label>
      <input type="text"  [(ngModel)]="FullName" name="FullName" class="form-control" required>
    </div>
    <div class="form-group">
      <label>phoneNumber</label>
      <input type="text" [(ngModel)]="phoneNumber" name="phoneNumber" class="form-control" required>
      <br><br>
 <label for="EnterOTP"><h4>Enter OTP:</h4></label>
<br>
  <input formControlName="EnterOTP" id="EnterOTP" />

<button style="margin-left: 5px;" class="btn btn-danger" type="submit" >Verify</button><br><br>
    </div>

    <button type="submit" class="btn btn-primary" value="Add" >Signup</button>

  </form>
</div>

<hr>

<div class="container">
  <div *ngFor="let register of register">
    <div class="col-md-3">
      {{register.FullName}}
    </div>
    <div class="col-md-3">
      {{register.phoneNumber}
</div>
 </div>

  </div>

  <app-footer></app-footer>



