<app-header></app-header>
<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>Sign Up</h1>
    </div>
    <div class="col-12">
      <form [formGroup]="form" (ngSubmit)="signUpUser()">
        <div class="form-group">
          <label>Full Name</label>
          <input type="text" class="form-control" formControlName="username" placeholder="Enter a username" required>
        </div>
        <div class="form-group">
          <label>Password</label>
          <input type="password" class="form-control" formControlName="password" placeholder="Enter a password" required>
        </div>
        <div class="form-group">
          <label>Phone Number</label>
          <input type="number" class="form-control" formControlName="phone" placeholder="Enter a phone number" required>
          <a class="btn btn-success" (click)="getOtp()">Get OTP</a>
        </div>
        
        <div class="form-group">
          <input type="number" class="form-control" formControlName="code" placeholder="Enter OTP Code" required>
        </div>
        <a (click)="verifyOtp()" class="btn btn-success">Verify</a>
        <button type="submit" class="btn btn-success">Sign Up</button>
      </form>
    </div>
  </div>
</div>


  <app-footer></app-footer>



