div.register{
  text-align: center;
}
form{
  padding: 80px;
}
input.ng-invalid{
  border-left: 5px solid red;
}
input.ng-valid{
  border-left: 5px green;
}
.body{

  height: 1000;
  width: 1000;
  size: 500;
  vertical-align:middle;margin:0px 50px;
}
