
section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
}

section:nth-child(2n) {
  background-color: #9e9b9b29;
}

section:nth-child(2n + 1) {
  background-color: #fff;
}




* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.nav {
  z-index: 9999;

}
// .nav-margin{
//   margin-left: 10px;
//   margin-right: 10px;
// }

.nav {
  height: 60px;
  width: 100%;

    background-color:#052034;
  position: relative;
}

.nav__header {
  display: inline;
}
.nav__link--unactive{
  color: #fff;
  text-decoration: none;
}
.nav__title {
  display: inline-block;
  font-size: 20px;
  color: #fff;
  padding: 10px 10px 10px 10px;
}

.nav__btn {
  display: none;
}

.nav__links {
  display: inline;
  float: right;
  font-size: 18px;

}

.nav__link {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
}

.nav__link--color {
  color: #fff;
  font-weight: bold;
}

.nav__link--color:hover {
  color: #FF0000;
  text-decoration: none;
}

#nav-check {
  display: none;
}

@media (max-width: 797px) {
  .nav__btn {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0;
  }
  .nav .nav__btn label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  .nav .nav__btn label:hover label,
  .nav .nav_btn .nav #nav-check:checked ~ .nav_btn label {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .nav .nav__btn label span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }

  .nav__links {
    position: absolute;
    display: block;
    width: 100%;
    background-color:#052034;
    height: 0px;
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
  }
  .nav__link {
    display: block;
    width: 100%;
  }
  .nav #nav-check:not(:checked) ~ .nav__links {
    height: 0px;
  }
  .nav #nav-check:checked ~ .nav__links {
    height: 300px;
    overflow-y: auto;
  }
}

.nav__link--active {
  color: #FF0000;
  font-weight: bold;
}
// .nav__links > .nav-link.nav__link--active {
//   background-color: #00cc99;
//   border-radius: 7px;
//   box-shadow: 5px 7px 10px #111;
//   transition: all .3s;
// }
.home{
  color:#FF0000;
  font-weight: bold;
}

.nav__dropbtn {
  background-color: transparent;
  color: white;
  border: none;
  cursor: pointer;
  font-weight: bold;
}

.nav__dropbtn:hover {
  color: #FF0000;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #292b2c;
  margin: 2px;
  min-width: 160px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 9999;
}

.dropdown-content .dropdown__link {
  padding: 5px;
  text-decoration: none;
  display: block;
}

.dropdown-content .dropdown_link:hover ~ .nav_dropbtn {
  color: #FF0000;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.nav__decorators{
  text-decoration: none;
}
.nav__right {
  text-align: center;
  color: #fff;
  float: right;
}
.nav_span{
  color: #000;
}

/* FlexCard css */
.proj_images-images {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.proj_images__disp1 {
  width: 350px;
  height: 220px;
  padding: 10px 10px;
}
.active a{
  background: #262626;
  color: #fff;

}







