


<!-- amit code -->
<!-- <div>
  <nav class="navbar navbar-expand-lg navbar-light">

     <a href="#"> <img style="height: 32px;" src="../../../assets/images/logo.jpg" class="logo" id="logo" alt="logo">
        Farmer's Friend
      </a>

    <img src="../../../assets/images/logo.jpg" class="logo" id="logo" alt="logo">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="home">Home </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="Scheme">Schemes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="price">Market Price</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="address">Important Address</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="helplines">Helplines</a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Crops
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" [routerLink]="['/crops','0']">Kharif</a>
            <a class="dropdown-item" [routerLink]="['/crops','1']">Rabi</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#"></a>
          </div>
        </li>
      </ul>

    </div>


    <div class="header-right">
    
      <label *ngIf="authService.authenticate()">You're in!</label>
        <button type="button" class="btn btn-danger" style="cursor: pointer;" (click)="signOutUser()" *ngIf="authService.authenticate()">
          sign-out
        </button>
      <button class="btn " *ngIf="!authService.authenticate()"> <a href="login">Login</a> </button>
      <button class="btn" *ngIf="!authService.authenticate()"><a href="register">Signup</a></button>
      <button class="btn" id="contact"><a href="contact">Contact us</a></button>
      <button class="btn" id="admin"*ngIf="!authService.authenticate()"><a href="admin">Admin</a></button>
       <div class="col-12">
        <h1>You're in!</h1>
        <button type="button" class="btn btn-danger" (click)="signOutUser()">
          Click here to sign-out
        </button>
      </div> 


    </div>


  </nav>
</div> -->
<header id="body-header">
  <nav class="navbar navbar-expand-lg navbar-light" >

    <ul class="horizontal-list nav-menu">
        <li>
          <a class="nav-link" href="home">Home </a>
        </li>
        <li>
          <a class="nav-link" href="price">Market Price</a>

        </li>
        <li >
          <a class="nav-link" href="Scheme">Schemes</a>
        </li>
        <li>
          <a class="nav-link" href="address">Important Address</a>
        </li>
        <li>
          <a class="nav-link" href="helplines">Helplines</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Crops
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/crops/0" style="color: black;">Kharif</a>
            <a class="dropdown-item" href="/crops/1" style="color: black;">Rabi</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#"></a>
          </div>
        </ul>
        <div class="horizontal-list nav-menu  navbar navbar-expand-lg navbar-light " style="margin-left: 30% ;  "  >
          <!-- <li>
            <a class="nav-link" href="login">Login</a>
          </li>
          <li>
            <a class="nav-link"  href="register">Signup</a>
          </li>
          <li>
            <a class="nav-link" href="contact">Contact us</a>
          </li>
          <li>
            <a class="nav-link"  href="admin">Admin</a>
          </li> -->
          
        </div>





</nav>
  <div id="name-social-container">
      <div class="text-center">
          <h1 id="my-name" >{{title}}</h1>
      </div>
      <!-- <div>
          <ul class="horizontal-list  text-center social-icons">
              <li> <a href="#">
                      <i class="fab fa-linkedin-in"></i>
                      </a>
              </li>
              <li>
                  <a href="#">
                      <i class="fab fa-stack-overflow"></i>
                  </a>
              </li>
              <li>
                  <a href="#">
                      <i class="fab fa-google-plus-g"></i>
                  </a>
              </li>
              <li>
                  <a href="#">
                      <i class="fab fa-facebook-f"></i>
                  </a>
              </li>
              <li>
                  <a href="#">
                      <i class="fab fa-quora"></i>
                  </a>
              </li>
          </ul>

      </div> -->

  </div>

</header>



<!-- </head>
<body>

    <header id="body-header ">
        <nav class="navbar navbar-expand-lg navbar-light" >

            <ul class="horizontal-list nav-menu">
                <li>
                  <a class="nav-link" href="home-page">Home </a>
                </li>
                <li>
                  <a class="nav-link" href="price">Market Price</a>

                </li>
                <li>
                  <a class="nav-link" href="address">Important Address</a>
                </li>
                <li>
                  <a class="nav-link" href="helplines">Helplines</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Crops
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#" style="color: black;">Kharif</a>
                    <a class="dropdown-item" href="#" style="color: black;">Rabi</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#"></a>
                  </div>
                </ul>
                <div class="horizontal-list nav-menu  navbar navbar-expand-lg navbar-light " style="margin-left: 30% ;  "  >
                  <li>
                    <a class="nav-link" href="login">Login</a>
                  </li>
                  <li>
                    <a class="nav-link"  href="register">Signup</a>
                  </li>
                  <li>
                    <a class="nav-link" href="contact">Contact us</a>
                  </li>
                  <li>
                    <a class="nav-link"  href="admin">Admin</a>
                  </li>
                </div>





        </nav>

        <div id="name-social-container">
            <div class="text-center">
                <h1 id="my-name" >{{title}}</h1>
            </div>
            <div>
                <ul class="horizontal-list text-center social-icons">
                    <li>
                        <a href="#">
                            <i class="fab fa-linkedin-in"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fab fa-stack-overflow"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fab fa-google-plus-g"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fab fa-quora"></i>
                        </a>
                    </li>
                </ul>

            </div>

        </div>

    </header>

    </body>
    </html> -->
