<app-header></app-header>

<!-- <mat-tab-group>
  <mat-tab label="First"></mat-tab>
  <mat-tab label="Second">
  </mat-tab>
  <mat-tab label="Third">
  </mat-tab>
</mat-tab-group> -->
<div class="container">
<div class="home">
  <div class="home-header">
    <h1>FARMER'S FRIEND</h1>
  </div>
  <div class="home-subhead">
    <h3>A Web Based Soution For Common Problem Of Farmers</h3>
  </div>
  <div class="home-para">
    <img src="../../../assets/images/farmer.jpg" alt="">
    <p>
      Farmers play a major role in society; they feed us, some of them warm us and all are custodians of the landscape
      and
      nature.Responsibility and commitment goes way beyond their farms, crops and livestock, many are passionate
      “Agvocates”
      playing vital roles in their communities and society. The fact is farmers have the power to shape and change our
      society, indeed our futures.We are all living in a changing, sometimes challenging world, so farmers have to be
      entrepreneurial, industrious, versatile and determined.
    </p>
  </div>
</div>

</div>
<app-footer></app-footer>
