<app-admin-header></app-admin-header>

<div class="container">
    <h2 class="page-header">ENQUIRY</h2>
    <form *ngFor = "let data of enquiryQuestion ">
      <div class="form-group">
        <label>TITLE</label>
        <!-- {{enquiryQuestion|json}} -->
        <!-- <h1 type="text"  [(ngModel)]="data.Topic" name="Topic" class="form-control" required></h1> -->
      <h5>{{data.Topic}}</h5>

      </div>
      <div class="form-group">
        <label>YOUR QUERIES</label>
        <!-- <h1 type="text"  [(ngModel)]="data.Details" name="Details" class="form-control" required></h1> -->
        <h5>{{data.Details}}</h5>


      </div>
       <br><br>
       <div class="form-group">
        <label>ANSWER</label>
        <input type="text"  [(ngModel)]="Answer" name="Answer" class="form-control" required>
      </div>


      <a type="submit" class="btn btn-primary" value="Add"  (click)="addenquiry()" href="enquiry">SUBMIT</a>

     </form>

  </div>

  <hr>
<app-admin-footer></app-admin-footer>
