
 <main>

  <section class="mandi">
         <div class="mandi-para">
      <h1 class="mandi__heading"> Currently Avaliable Mandi's</h1>
      <hr >

        </div>
        </section>

<div class="wrapper">
        <table class="table table-striped">
        <thead class="wrapper__head">
          <tr>

            <th scope="col" sortable="name">STATE</th>
             <th scope="col" sortable="area">DISTRICT</th>
            <th scope="col" sortable="population">MARKET</th>
            <th scope="col" sortable="population">GODOWN</th>
             <!-- <th scope="col" sortable="population">ACOLDSTORAGE</th> -->
            <th scope="col" sortable="population">RAILWAY</th>
            <th scope="col" sortable="population">DISTANCE</th>
            <th scope="col" sortable="population">CROPS</th>
            <th scope="col" sortable="population">PHONE</th>
            <th scope="col" sortable="population">ADDRESS</th>



          </tr>
          </thead>

          <tbody>
          <tr *ngFor="let d of records|paginate: config" >
            <th scope="row">{{ d.STATE}}</th>
            <td>{{d.DIST}}</td>
            <td>{{ d.MARKET}}</td>

            <td>{{ d.GODOWN}}</td>
            <!-- <td>{{ d.COLDSTORAGE}}</td> -->
            <td>{{ d.RAILWAY}}</td>
            <td>{{ d.DISTANCE}}</td>
            <td>{{ d.CROPS}}</td>
            <td>{{ d.PHONE}}</td>
            <td>{{ d.ADDRESS}}</td>

          </tr>
          </tbody>
        </table>
      </div>
      <div style="text-align: center; color: black; margin-top: 5px;">
       <pagination-controls  (pageChange)="pageChanged($event)"></pagination-controls>
     </div>


</main>


