<main>
<app-header [title]="title"></app-header>
<section class="about">
  <div class="about__para">
    <h1 class="about__heading">Market Price For The Crop</h1>
    <hr />
    <p>
      Minimum Support Price (MSP) is a form of market intervention by the
      Government of India to insure agricultural producers against any sharp
      fall in farm prices. The minimum support prices are announced by the
      Government of India at the beginning of the sowing season for certain
      crops on the basis of the recommendations of the Commission for
      Agricultural Costs and Prices (CACP). MSP is price fixed by Government of
      India to protect the producer - farmers - against excessive fall in price
      during bumper production years. The minimum support prices are a guarantee
      price for their produce from the Government. The major objectives are to
      support the farmers from distress sales and to procure food grains for
      public distribution. In case the market price for the commodity falls
      below the announced minimum price due to bumper production and glut in the
      market, government agencies purchase the entire quantity offered by the
      farmers at the announced minimum price.
    </p>
    <hr />

    <!-- <select
      class="form-select optionSector"
      id="sortBy"
      aria-label="Default select example"
    >
      <option value="Andaman and Nicobar Islands">
        Andaman and Nicobar Islands
      </option>
      <option value="Andhra Pradesh">Andhra Pradesh</option>
      <option value="Arunachal Pradesh">Arunachal Pradesh</option>
      <option value="Assam">Assam</option>
      <option value="Bihar">Bihar</option>
      <option value="Chandigarh">Chandigarh</option>
      <option value="Chhattisgarh">Chhattisgarh</option>
      <option value="Dadra and Nagar Haveli">Dadra and Nagar Haveli</option>
      <option value="Daman and Diu">Daman and Diu</option>
      <option value="Delhi">Delhi</option>
      <option value="Goa">Goa</option>
      <option value="Gujarat" selected>Gujarat</option>
      <option value="Haryana">Haryana</option>
      <option value="Himachal Pradesh">Himachal Pradesh</option>
      <option value="Jammu and Kashmir">Jammu and Kashmir</option>
      <option value="Jharkhand">Jharkhand</option>
      <option value="Karnataka">Karnataka</option>
      <option value="Kerala">Kerala</option>
      <option value="Lakshadweep">Lakshadweep</option>
      <option value="Madhya Pradesh">Madhya Pradesh</option>
      <option value="Maharashtra">Maharashtra</option>
      <option value="Manipur">Manipur</option>
      <option value="Meghalaya">Meghalaya</option>
      <option value="Mizoram">Mizoram</option>
      <option value="Nagaland">Nagaland</option>
      <option value="Orissa">Orissa</option>
      <option value="Pondicherry">Pondicherry</option>
      <option value="Punjab">Punjab</option>
      <option value="Rajasthan">Rajasthan</option>
      <option value="Sikkim">Sikkim</option>
      <option value="Tamil Nadu">Tamil Nadu</option>
      <option value="Tripura">Tripura</option>
      <option value="Uttaranchal">Uttaranchal</option>
      <option value="Uttar Pradesh">Uttar Pradesh</option>
      <option value="West Bengal">West Bengal</option>
    </select> -->
    <!-- <button
      type="button"
      (click)="sortData()"
      class="btn btn-primary btn-sm"
      style="border: 2px solid black; margin-left: 2px"
    >
      Submit
    </button> -->
    <br>
<div class="wrapper">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col" sortable="name">STATE</th>
          <th scope="col" sortable="area">DISTRICT</th>
          <th scope="col" sortable="area">MARKET</th>
          <th scope="col" sortable="population">COMMODITY</th>
          <th scope="col" sortable="population">VARETY</th>
          <th scope="col" sortable="population">ARRIVAL DATE</th>
          <th scope="col" sortable="population">MIN PRICE</th>
          <th scope="col" sortable="population">MAX PRICE</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let d of filterData | paginate: config">
          <td scope="row">{{ d.state }}</td>
          <td>{{ d.district }}</td>
          <td>{{ d.market }}</td>
          <td>{{ d.commodity }}</td>
          <td>{{ d.variety }}</td>
          <td>{{ d.arrival_date }}</td>
          <td>{{ d.min_price }}</td>
          <td>{{ d.max_price }}</td>
        </tr>
      </tbody>
    </table>
  </div>
    <div class="pagination">
      <pagination-controls
        (pageChange)="pageChanged($event)"
      ></pagination-controls>
    </div>
  </div>
</section>

<app-footer></app-footer>
</main>
