
<div class="body-container">

<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->
<main>

<section class="soil">
  <div id="soil__para">
<h1 class="soil__heading"> Address Of Soil Testing Lab's</h1>
<hr >

 </div>
 </section>

<div class="wrapper">
  <table class="table table-striped">
    <thead>
      <tr>

        <th scope="col" sortable="name">STATE</th>
        <th scope="col" sortable="area">DISTRICT</th>
        <th scope="col" sortable="population">OFFICE_NAME</th>
        <th scope="col" sortable="population">OFFICE_ADDRESS</th>
        <th scope="col" sortable="population">NO_OF_STAFF</th>
        <th scope="col" sortable="population">EMAIL</th>
        <th scope="col" sortable="population">TELEPHONE</th>
        <th scope="col" sortable="population">SOIL EQUIPMENT</th>



      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let d of records|paginate: config" >
        <th scope="row">{{ d.STATE}}</th>
        <td>{{ d.dist}}</td>
        <td>{{ d.Office_Name}}</td>
        <td>{{ d.Office_Address}}</td>
        <td>{{ d.No_of_Staff}}</td>
        <td>{{ d.Email}}</td>
        <td>{{ d.TelePhone}}</td>
        <td>{{ d.Soil_Equipment}}</td>


      </tr>
      </tbody>
    </table>
  </div>

  <div class="pagination">
   <pagination-controls  (pageChange)="pageChanged($event)"></pagination-controls>
 </div>
</main>

