<app-header [title]="title"></app-header>
<main>
  <section class="helpline">
    <div class="helpline__para">
      <h1 class="helpline__heading">Currently Available Helplines😊😊</h1>
      <hr />

      <p>
        Bharat Sarkar has started a Kisan Call Center for the support of the
        farmers, whose farmers and farmers can avail the benefits and
        information of the services related to the crop seed, by calling the
        helpline number of the country, these farmers call centers can get all
        the help in the country. States have started for farmers, on which
        farmers can get information related to their problems and agriculture by
        calling.
      </p>
      <hr />
<div class="wrapper">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col" sortable="name">Details</th>
            <th scope="col" sortable="area">Titles</th>
          </tr>
        </thead>



        <tbody>
          <tr *ngFor="let d of records | paginate:config">
            <td scope="row">{{ d.details }}</td>
            <td>{{ d.title }}</td>
          </tr>
        </tbody>

      </table>
    </div>
      <div class="pagination">
        <pagination-controls
          (pageChange)="pageChanged($event)"
         
        ></pagination-controls>
      </div>
    </div>
  </section>

  <app-footer></app-footer>
</main>
