<app-admin-header></app-admin-header>
<div class="container">
    <h2 class="page-header">Signup</h2>
    <form>
      <div class="form-group">
        <label>STATE</label>
        <input type="text"  [(ngModel)]="STATE" name="STATE" class="form-control" required>
      </div>

      <div class="form-group">
        <label>DIST</label>
        <input type="text"  [(ngModel)]="DIST" name="DIST" class="form-control" required>
        <br><br>
      </div>

      <div class="form-group">
        <label>MARKET</label>
        <input type="text"  [(ngModel)]="MARKET" name="MARKET" class="form-control" required>
        <br><br>
      </div>

      <div class="form-group">
        <label>GODOWN</label>
        <input type="text"  [(ngModel)]="GODOWN" name="GODOWN" class="form-control" required>
        <br><br>
      </div>

      <div class="form-group">
        <label>COLD STORGAE</label>
        <input type="text"  [(ngModel)]="COLDSTORAGE" name="COLDSTORAGE" class="form-control" required>
        <br><br>
      </div>

      <div class="form-group">
        <label>DISTANCE</label>
        <input type="text"  [(ngModel)]="DISTANCE" name="DISTANCE" class="form-control" required>
        <br><br>
      </div>

      <div class="form-group">
        <label>CROPS</label>
        <input type="text"  [(ngModel)]="CROPS" name="CROPS" class="form-control" required>
        <br><br>
      </div>

      <div class="form-group">
        <label>PHONE</label>
        <input type="text"  [(ngModel)]="PHONE" name="PHONE" class="form-control" required>
        <br><br>
      </div>

      <div class="form-group">
        <label>ADDRESS</label>
        <input type="text"  [(ngModel)]="ADDRESS" name="ADDRESS" class="form-control" required>
        <br><br>
      </div>




      <a type="submit" class="btn btn-primary" value="Add"  (click)="addhelplines()" href="post-helpline">ADD</a>

     </form>
  </div>

  <hr>
  <app-footer></app-footer>
