<app-admin-header></app-admin-header>
<div class="container">
    <h2 class="page-header">Signup</h2>
    <form>
      <div class="form-group">
        <label>DETAILS</label>
        <input type="text"  [(ngModel)]="details" name="details" class="form-control" required>
      </div>
      <div class="form-group">
        <label>TITLES</label>
        <input type="text"  [(ngModel)]="title" name="title" class="form-control" required>
        <br><br>

    </div>
      <a type="submit" class="btn btn-primary" value="Add"  (click)="addhelplines()" href="post-helpline">ADD</a>

     </form>
  </div>

  <hr>
  <app-footer></app-footer>
