<div class="chatform">
	<div class="chatlist">
		<ul class="list-group">
			<li class="list-group-item">
				<div class="message" style="color: black;">
					Welcome to chatbot
				</div>

				<div class="timeform">

					<i class="fa fa-clock-o" aria-hidden="true"></i> <span class="timestamp">at 9:13</span>
				</div>
        <div id="abc">

        </div>
			</li>
		</ul>
	</div>


	<form class="chatcontrol" >
	  	<div class="input-group mb-3">
		  <input type="text" class="form-control chatinput" id="input" placeholder="Enter your Message" name="content" aria-label="Enter your Message" aria-describedby="Enter your Message" #message_content />
		  <div class="input-group-append">
		    <button class="btn btn-success"  style="color: black;" type="button"(click)="sendMessage(message_content)">Send</button>
		  </div>
		</div>
	</form>
</div>
